<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/createproductos.css">
    <title>Crear producto</title>
    <script src="/scripts/create.js"></script>
</head>
<body>
<!--
    <section class="errores">
        <% if(typeof errors != 'undefined') { %>
          <h1 class="errores">Errores Detectados en la Carga</h1>
          <ul class="errores">
            <% for(let i = 0; i < errors.length; i++) {%> 
              <li class="errores">
                <%= errors[i].msg %> 
              </li>
              <% } %>
          </ul>
        <% } %>  
      </section>
-->
    <div class="container">
        <form class="formulario" action="/products/create" method="POST" enctype="multipart/form-data">
            <a href="/"><img class="logo"src="/images/LOGO/LOGOPNG.png"></a>
            <label for="name">Nombre de producto</label>
            <input type="text" name="name" id="name" placeholder="Nombre del Producto">
            
            <label for="dimension">Dimensiones (cm)</label>
            <select name="dimension" id="dimension">
                <% for(let i = 0; i < medidas.length; i++){ %>
                <option value="<%= medidas[i].id %>">
                    <%= medidas[i].tamanios %>
                </option>
            <% } %>
            </select><br>

            <label for="Material">Material</label>
            <select name="Material" id="Material">
                <% for(let i = 0; i < materials.length; i++){ %>
                <option value="<%= materials[i].id %>">
                    <%= materials[i].tipomaterial %>
                </option>
            <% } %>
            </select><br>

            <label for="pintado">Pintado</label>
            <select name="pintado" id="pintado">
                <option value="no">no</option>
                <option value="si">si</option>
            </select><br>

            <label for="price">Importe $</label>
            <input type="number" name="price" id="price" ><br>

            <label for="image">Imagen</label>
            <input type="file" name="image" id="image" required><br>

            <button type="submit">CREAR</button>
        </form>
    </div>
</body>
</html>