<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="stylesheets/productos.css">
    <title>Productos</title>
</head>
<body>
  <%-include('../partials/header')%>
  <main>
    <div class="texto-superior-producto">
      <h1>Nuestras Impresiones</h1>
      <h5>Ofrecemos impresiones de calidad en distinto formato y material: PLA, ABS, Nylon 12, entre otros.</h5>
    </div>  
    <div class="imagenes-productos">
      <% for (i=0; i < products.length; i++){ %>
        <% if (products[i]) { %>
        <div class="producto">
          <img src="/images/<%=products[i].image%>" alt="<% products[i].name %>"> 
          <a href="/products/formulario"><h5>COMPRAR</h5></a>
          <p><%= products[i].name %></p>
          <p>Medidas: <%= products[i].dimension %></p>
          <p>Material: <%= products[i].Material %></p>
          <p>Pintado: <%= products[i].pintado %></p>
          <p>Precio: <%= products[i].price %> $ </p>
        </div>
        <% } %>
      <% } %>
      <div class="producto">
        <img src="/images/IMAGENESEDITADAS/WALKERCIRCULAR.png" alt="Walker Juego PC">
        <h5>COMPRAR</h5>
        <p>Walker Juego PC "War Thunder"</p>
        <p>Medidas: 15 x 20 x 15 cm.</p>
        <p>Naterial: PLA</p>
        <p>Pintado: SI</p>
        <p>Importe: 3.000 AR$</p>
      </div>
      <div class="producto">
        <img src="/images/IMAGENESEDITADAS/XWINGCIRCULAR.png" alt="">
        <h5>COMPRAR</h5>
        <p>X-WING STAR WARS BATTLE</p>
        <p>Medidas: 20 x 30 x 10 cm.</p>
        <p>Naterial: PLA</p>
        <p>Pintado: SI</p>
        <p>Importe: 3.000 AR$</p>
      </div>
      <div class="producto">
        <img src="/images/IMAGENESEDITADAS/MATEDARTHVADERCIRCULAR.png" alt="">
        <h5>COMPRAR</h5>
        <p>MATE SITH LORD: DARTH VADER</p>
        <p>Medidas: 15 x 20 x 15 cm.</p>
        <p>Naterial: PLA</p>
        <p>Pintado: SI</p>
        <p>Importe: 3.000 AR$</p>
      </div>
      <div class="producto">
        <img src="/images/IMAGENESEDITADAS/RAYQUAZACIRCULAR.png" alt="">
        <h5>COMPRAR</h5>
        <p>Dragon miniatura RAYQUAZA</p>
        <p>Medidas: 15 x 20 x 15 cm.</p>
        <p>Naterial: PLA</p>
        <p>Pintado: SI</p>
        <p>Importe: 3.000 AR$</p>
      </div>
      <div class="producto">
        <img src="/images/IMAGENESEDITADAS/MASCARACIRCULAR.png" alt="">
        <h5>COMPRAR</h5>
        <p>MASCARA</p>
        <p>Medidas: 15 x 20 x 15 cm.</p>
        <p>Naterial: PLA</p>
        <p>Pintado: SI</p>
        <p>Importe: 3.000 AR$</p>
      </div>
      <div class="producto">
        <img src="/images/IMAGENESEDITADAS/CASACIRCULAR.png" alt="">
        <h5>COMPRAR</h5>
        <p>CASA MINIATURA</p>
        <p>Medidas: 15 x 20 x 15 cm.</p>
        <p>Naterial: PLA</p>
        <p>Pintado: SI</p>
        <p>Importe: 3.000 AR$</p>
      </div>
    </div>
  </main>
  <%-include('../partials/footer')%>
</body>
</html>