<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="stylesheets/productos.css">
    <title>Productos</title>
</head>
<body>
  <%-include('../partials/header')%>
  <main>
    <div class="texto-superior-producto">
      <h1>Nuestras Impresiones</h1>
      <h5>Ofrecemos impresiones de calidad en distinto formato y material: PLA, ABS, Nylon 12, entre otros.</h5>
    </div>  
    <div class="imagenes-productos">
      <% for (i=0; i < products.length; i++){ %>
        <% if (products[i]) { %>
        <div class="producto">
          <img src="/images/<%=products[i].image%>" alt="<% products[i].name %>"> 
          <a href="/products/<%=products[i].id %>"><h5>COMPRAR</h5></a>
          <p><%= products[i].name %></p>
          <p>Medidas: <%= products[i].dimension %></p>
          <p>Material: <%= products[i].Material %></p>
          <p>Pintado: <%= products[i].pintado %></p>
          <p>Precio: <%= products[i].price %> $ </p>
        </div>
        <% } %>
      <% } %>
  </main>
  <%-include('../partials/footer')%>
</body>
</html>