<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/buyHistory.css">
    <title>Historial de Compras</title>
</head>
<body>
    <%-include('../partials/header')%>

        <h1>Historial de compras 3DZ</h1>
        <% if(detalleCompras.length > 0) { %>
            <% detalleCompras.forEach(detalleCompra => { %>
                <div class="historyContainer">
                    <p><strong>Fecha: </strong><%= detalleCompra.createdAt %></p>
                    <p><strong>Total: </strong>$ <%= detalleCompra.total %></p>
                    <p><strong>Numero de Orden: </strong><%= detalleCompra.orderNumber %></p>
                    <p><strong>Elementos:</strong></p>
                        <% detalleCompra.carritoproductos.forEach(element => {  %>
                            <div class="elementosContainer">
                                <p><%= element.producto.descripcion %></p><p>x<%= element.cantidad %></p>
                            </div>
                        <% }) %>
                </div>
            <% }) %>
                
        <% } else { %>
            <p id="mensajeVacio">Aun no cerraste ninguna compra!</p>
        <% } %>
    

    <%-include('../partials/footer') %>
</body>
</html>