<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/listusers.css">
  <!--Fuentes Google-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!--Iconos Fontawesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>Lista de Usuarios Activos</title>
</head>
<body>
  <section class="customerUsers">
    <h1>Listado de Clientes Registrados</h1>
    <table>
      <tr>
        <th>Id</th>
        <th>Nombre y Apellido</th>
        <th>Correo Electr贸nico</th>
        <th>Acci贸n</th>
      </tr>
      <% for(usuario of usuarios) { %>
        <% if(usuario.admin == 0) {%>
      <tr>
        <td>
          <%= usuario.id %>
        </td>
        <td> 
          <%= usuario.nombreApellido %>
        </td>
        <td> 
          <%= usuario.email %>
        </td>
        <td>
          <button><a href="/users/<%= usuario.id %> ">Ver</a></button>
          <button><a href="/users/edit/<%= usuario.id %> ">Modificar</a></button>
          <button><a href="/users/edit/<%= usuario.id %> ">Eliminar</a></button>
        </td>  
        <% } %> 
      </tr>
        <% } %>
        </table>
    </section>
    <section class="adminUsers">
      <h1>Administradores Activos</h1>
      <table>
        <tr>
          <th>Id</th>
          <th>Nombre y Apellido</th>
          <th>Correo Electr贸nico</th>
          <th>Nivel</th>
          <th>Acci贸n</th>
        </tr>
        <% for(usuario of usuarios) { %>
          <% if(usuario.admin != 0) {%>
        <tr>
          <td>
            <%= usuario.id %>
          </td>
          <td> 
            <%= usuario.nombreApellido %>
          </td>
          <td> 
            <%= usuario.email %>
          </td>
          <td>
            <% if(usuario.admin == 1) {%>
              Supervisor
            <% } else { %> 
              Administrador
            <% } %> 
          </td>
          <td>
            <button><a href="/users/<%= usuario.id %> ">Ver</a></button>
          <button><a href="/users/edit/<%= usuario.id %> ">Modificar</a></button>
          <button><a href="/users/edit/<%= usuario.id %> ">Eliminar</a></button>
          </td>  
          <% } %> 
        </tr>
          <% } %>
          </table>
      </section>
</body>
</html>